*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 600px;
    width: 100%;
    margin: auto;
}
header{
    border-bottom: 2px solid rgb(83, 79, 79);
    margin-bottom: 10px;
}
nav {
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(66, 66, 74);
    padding: 10px;
   
}
nav span a{
padding-left: 10px;
text-decoration: none;
}
nav span a:hover{
    border-bottom: 2px solid black;
}
.img-container{
    margin: 15px;
   
   

}
.img-container img{
    width: 350px;
    float: right;
    padding: 0px 5px 5px 5px ;
    cursor: pointer;
   
}
.main-content{
    margin-left: 10px;
}
.main-content p{
text-indent: 20px;
margin-bottom: 10px;
}

